@media screen and  (max-width:600px){

    
.folder3 {
    border:0px solid black;
    width: 100%;
    height: 248px;
    
    background-image: url("../images/residential-house-construction-spi.jpg");
  
    background-size: contain;
    background-position: 10%;
    object-fit: cover;
   


}
