 .span1 {
    color:white;
    font-size: 15px;
}

.folder2 {
    border:1px solid red;
    width: 100%;
    height: 500px;
    background-color: #212529;
    background-image: url(../images/wp.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center; 

}


.folder5 {
    border:1px solid rgba(255, 0, 0, 0);
    width: 100%;
    height: 400px;
    
    background-image: url("../images/residential-house-construction-spi.jpg");
   
    background-size: contain;
    background-position: 0%;
    object-fit: cover;
   


    margin-top: -10px;
}



.folder5aa{
    border: 1px solid rgba(255, 0, 0, 0);
    width: 100%;
    height: 200px;

    
 }


 .span5aa {
    font-style: italic;
    font-weight: bold;
 }

 .folder6 {
    width: 100%;
    height: 165px;
    background-color: black;
    
   
}

